<html>
<head>
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.0.9/angular-material.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="/css/angular-material.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- JS -->
  <script src="/javascript/angular.min.js"></script>
  <script src="/javascript/angular-animate.min.js"></script>
  <script src="/javascript/angular-aria.min.js"></script>
  <!-- <script src="/javascript/angular-messages.js"></script> -->
  <script src="/javascript/angular-material.min.js"></script>

  <script src="javascript/raphael.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script src="javascript/color.jquery.js"></script>
  <script src="javascript/jquery.usmap.js"></script>

  <script src="app.js"></script>

</head>

<body ng-app='myApp' ng-controller="myCtrl" >


  <h2>
    <div id="alert" align='center'>Select a State</div>
  </h2>

  <div layout="row" layout-xs="column">

    <!-- <div flex="10"></div> -->

    <div flex align="right" >
      <a>
        <ul align ="left" id="repButton" class="typeRep buttonBoxes repBox " ng-click="changeRepButton()"  map-click>
          Representatives</ul>
      </a>
    </div>

    <div flex="10"></div>

    <div flex align="left">
      <a>
        <ul align ="left" id="senatorButton" class="typeRep buttonBoxes" ng-click="changeSenatorButton()" map-click>
          <a class="whiteSpace">____<a>Senators</a></ul>
      </a>
    </div>

    <!-- <div flex="10"></div> -->

  </div>

  <br>

  <div align='center'>
    <div id="map" style="width: 700px; height: 474px;" ></div>
  <div>
  <h2>
    <div id="stateSelected" style="display:show;" ng-bind="stateClicked" align="center">Select a State</div>
  </h2>

<br>
<br>


<div layout="row"  layout-xs="column">

  <div flex="10"></div>


  <div flex align="left">
    <ul  class="leftBoxes" id="labelSpace">
      <div  align="left">{{repType}}</div>
    </ul>

    <ul class="leftBoxes" ng-repeat="rep in representatives">
          <h3>
            <div ng-click="setName(rep.name)"> {{ rep.name }} {{ rep.party }} </div>
          </h3>
    </ul>
  </div>

<div flex="10"></div>

  <div flex align= "left">
 
<div ng-repeat="rep in representatives | filter : repSelected">
    <ul class="rightBoxes">
      <h2> {{ rep.fName }} {{ rep.lName }} </h2>
    </ul>
    <ul class="rightBoxes">
      <p> District: {{ rep.district }} </p>
    </ul>
    <ul class="rightBoxes">
      <p> Phone: {{ rep.phone }} </p>
    </ul>
    <ul class="rightBoxes">
      <p> Office: {{ rep.office }} </p>
    </ul>
    <ul class="rightBoxes">
      <p> Website: <a ng-href="{{ rep.link }}"> {{rep.link}} </a> </p>
    </ul>


  </div>
  </div>

  <div flex="10"></div>

</div>
</body>
</html>
